@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold.eot');
  /* IE9 Compat Modes */
  src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
  url('fonts/Gotham-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/Gotham-Bold.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

html{
  height: 100vh;

}

body {
  background-size: 100vw 100vh;
  /*
  background-image: url('/images/Slide1.PNG'), url('/images/Slide2.PNG'), url('/images/Slide3.PNG'), url('images/Slide4.PNG');
  */
  animation: bgSlideshow 40s infinite;
  font-family: "Gotham";
  height: 100vh;
  margin: 0px;
}

.alerts {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
}

div {
  width: auto;
  height: auto;
}

.connected {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: darkblue;
  color: lightblue;
  padding: 10px;
  display: inline-block;
  font-size: 12px;
  border-radius: 50px;
}

.disconnected {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 10px;
  display: inline-block;
  font-size: 12px;
  border-radius: 50px;
  animation: blinkingBackground 4s infinite;
}

.cart-blink-bg {
  color: #fff;
  font-size: 10vh;
  padding: 50px;
  white-space: nowrap;
  border-radius: 100px;
  animation: blinkingBackground 4s infinite;
  background-color: #ef0a1a;
}

.ticket-blink-bg {
  color: #fff;
  font-size: 10vh;
  padding: 50px;
  white-space: nowrap;
  border-radius: 100px;
  animation: blinkingBackground 4s infinite;
  background-color: #3b3da8;
}
@keyframes blinkingBackground {
  0% {
    opacity: 0%;
  }
  50% {

    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.warehouseMessage {
  color: white;
  justify-self: center;
  border-radius: 30px;
  margin: 10px;
  font-size: 40px;
  padding: 10px;
  background-color: rgba(255, 0, 0, .75)
}

@keyframes bgSlideshow {
  0% {
    background-image: url('/images/Slide1.PNG');
  }
  12.5% {
    background-image: url('/images/Slide2.PNG');
  }
  25% {
    background-image: url('/images/Slide2.PNG');
  }
  37.5% {
    background-image: url('/images/Slide3.PNG');
  }
  50% {
    background-image: url('/images/Slide3.PNG');
  }
  62.5% {
   background-image: url('/images/Slide4.PNG');
  }
  75% {
    background-image: url('/images/Slide4.PNG');
  }
  87.5% {
    background-image: url('/images/Slide1.PNG');
  }
  100% {
    background-image: url('/images/Slide1.PNG');
  }
}